.main-container {
    width: 100%;
    height: auto;
    background: red;
}

.main-container aside {
    width: 100%;
    margin: auto;
    height: 100%;
    border-top: 1px solid #ffff;
}

.main-container aside .main-banner {
    width: 100%;
    margin: auto;
    height: 50%;
    border-top: 1px solid #ffff;
    background: url(img/background_in_space.gif);
    background-repeat: repeat;

}

.main-container aside .main-banner .banner-info {
    width: 90%;
    margin: auto;
    line-height: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30vw;
    /* background-color: blue; */

}

.main-container aside .main-banner .banner-info .banner-info-text,
.banner-info-img {
    width: 90%;
    height: 90%;
    /* background-color: rgb(11, 221, 42); */

}

.main-container aside .main-banner .banner-info .banner-info-text h3 {
    margin-top: 20%;
    font-size: 4vw;
    text-align: center;
    color: #ffffff;

}

.main-container aside .main-banner .banner-info .banner-info-text h4 {
    font-size: 1.5vw;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #e9e90c;

}

.main-container aside .main-banner .banner-info .banner-info-text p {
    font-size: 1vw;
    text-align: center;
    color: #fbfbfb;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.main-container aside .main-banner .banner-info .banner-info-img {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: rgb(221, 218, 11); */

}

.main-container aside .main-banner .banner-info .banner-info-img img {
    width: 80%;

}

.main-container aside .section-container {
    width: 100%;
    height: 30vw;
    display: flex;
    justify-content: center;
    background-color: rgba(25, 255, 255);

}

.main-container aside .section-container .inside-section {
    width: 70%;
    margin: auto;
    height: 90%;
    display: flex;

}

.main-container aside .section-container .inside-section .inside-section1 {
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 0;
}

.main-container aside .section-container .inside-section .inside-section1 h1 {
    font-size: 5vw;
    margin: 30px;
}

.main-container aside .section-container .inside-section .inside-section1 h5 {
    font-size: 1.2vw;
    margin: 30px;
}

.main-container aside .section-container .inside-section .inside-section1 button {
    background-color: #04AA6D;
    width: 40%;
    margin-top: 15px;
    height: 10%;
    border: none;
    font-size: 1vw;
    font-weight: 500;
    cursor: pointer;
    border-radius: 25px;
}

.main-container aside .section-container .inside-section .inside-section1 button:hover {
    background-color: #038e5b;
}

.main-container aside .section-container .inside-section .inside-section1 .second {
    background-color: #010100;
}

.main-container aside .section-container .inside-section .inside-section1 .second:hover {
    background-color: #262625;
}

.main-container aside .section-container .inside-section .inside-section1 .third {
    background-color: #d415a4;
}

.main-container aside .section-container .inside-section .inside-section1 .third:hover {
    background-color: #a90580;
}

.main-container aside .section-container .inside-section .inside-section1 button a {
    text-decoration: none;
    color: #fff;
}

.main-container aside .section-container .inside-section .inside-section2 {
    width: 100%;
    height: 100%;
    margin: auto;
    background-color: rgb(25, 255, 148);
}

@media screen and (max-device-width: 768px) {
    .main-container aside .main-banner .banner-info .banner-info-text h3 {
        font-size: 7vw;    
    }
    
    .main-container aside .main-banner .banner-info .banner-info-text h4 {
        font-size: 2.2vw;    
    }
    
    .main-container aside .main-banner .banner-info .banner-info-text p {
        font-size: 2vw;
    }
    .main-container aside .main-banner .banner-info .banner-info-img {
        display: none;
    
    }
    .main-container aside .section-container {
        height: auto;
        padding-bottom: 20px;
        padding-top: 20px;

    }
    .main-container aside .section-container .inside-section .inside-section2 {
        display: none;
    }

    .main-container aside .section-container .inside-section .inside-section1 h1 {
        font-size: 7vw;
        margin: 9px;
    }

    .main-container aside .section-container .inside-section .inside-section1 h5 {
        font-size: 2vw;
        margin: 30px;
    }

    .main-container aside .section-container .inside-section .inside-section1 button {
        width: 50%;
        margin-top: 10px;
        height: auto;
        padding:10px;
        font-size: 2vw;
    }
}

/* for mobile devices screen:480px - 320px 
for portrait view*/
@media screen and (max-device-width: 480px) and (orientation: portrait) {
    .main-container aside .section-container .inside-section .inside-section1 h1 {
        font-size: 13vw;
        margin-top: 50px;
    }

    .main-container aside .section-container .inside-section .inside-section1 h5 {
        font-size: 3vw;
        margin-top: 40px;
    }

    .main-container aside .section-container .inside-section .inside-section1 button {
        width: 70%;
        font-size: 3.4vw;
    }
}

/* for mobile devices screen:480px - 320px 
for landscape view*/
@media screen and (max-device-width: 640px) and (orientation: landscape) {
    .main-container aside .section-container {
        padding: 10px 0px 10px 0px;
    }

    .main-container aside .section-container .inside-section .inside-section1 h5 {
        margin-top: 40px;
    }

    .main-container aside .section-container .inside-section .inside-section1 button {
        width: 70%;
        font-size: 3.4vw;
    }
}

/* For iPhone 4 Portrait or Landscape View */
@media screen and (max-width: 320px) {}






/* Waves Animation start*/

.hero_area {
    position: relative;
    height: 10vw;
    background-color: #282A35;
}

.waves {
    position: absolute;
    width: 100%;
    height: 10vw;
    min-height: 100px;
    max-height: 150px;
    bottom: 0;
    left: 0;
    background-color: #282A35;
}

.parallax>use {
    animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax>use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}

.parallax>use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}

.parallax>use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}

.parallax>use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}

@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }

    100% {
        transform: translate3d(85px, 0, 0);
    }
}


/*Shrinking for mobile*/

@media (max-width: 768px) {
    .waves {
        height: 1vw;
        min-height: 10vw;
    }

}

/* Waves Animation end*/