@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    width: 100%;
    height: 100%;
    background: rgb(235, 233, 233);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1vw;
    color: black;
}

header {
    width: 100%;
    max-width: 100%;
    height: 12vh;
}

header .container {
    max-width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background: rgb(253, 253, 253);
}

header .container .branding {
    max-width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

header .container .branding img {
    max-width: 100%;
    height: auto;
}

header .container nav {
    max-width: 85%;
    width: 85%;
    height: 100%;
    display: flex;
    align-items: center;
}

header .container nav ul,
.sub_menu .sub_menu_container ul {
    max-width: 100%;
    width: 100%;
    height: 100%;
    gap: 0.5%;
    display: flex;
    align-items: center;
    margin: 0px;
}
header .container .material-symbols-outlined{
    display: none;
}

header .container nav ul li,
.sub_menu .sub_menu_container ul li {
    max-width: 100%;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    list-style: none;
    transition: .3s linear;
}
header .container nav ul li:hover,
.sub_menu .sub_menu_container ul li:hover {
   background-color: rgb(237, 235, 235);
}

header .container nav ul li a,
.sub_menu .sub_menu_container ul li a {
    text-decoration: none;
    color: #000000;
    font-size: 1vw;
    padding: 10px;
}
/* sub menu */
header .sub_menu{
    width: 100%;
    height: 40%;
    background: #282A35;
}
header .sub_menu .sub_menu_container{
    width: 100%;
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}
::-webkit-scrollbar{
    display: none;
    scrollbar-width: none;
}
header  .sub_menu .sub_menu_container ul li a {
    color: #e6e6e6;
    padding: 8px;
    font-size: 13px;
    font-weight: 300;
}
header .sub_menu .sub_menu_container ul li:hover {
   background-color: rgb(0, 0, 0);
}
.active{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #04AA6D !important;
}
header .sub_menu .sub_menu_container ul {
    gap: 0%;
}
@media screen and (max-width: 991px) {
    header .container nav ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        left: 0;
        top: 12vh;
        overflow:auto;
        gap: 0%;
        width: 100%;
        height:0vh;
        padding: 0px;
        background-color: #282A35;
        align-items: center;
        justify-content: end;
    }
    header .container nav .menu{
        height: 100vh;
        overflow: auto;
    }
    header .container nav ul li {
        width: 100%;
    }
    header .container nav ul li a {
        font-size: 2vw;
        color: #cdcbcb;
    }
    header .container nav ul li:hover a {
        color: black;
    }
    header .container .branding {
        max-width: 25%;
    }
    header .container .material-symbols-outlined{
        display: block;
        position: absolute;
        font-size: 3.5vw;
        right: 0;
        cursor: pointer;
        padding: 10px;
        transition: .3s linear;
    }
    header .container nav ul .material-symbols-outlined:hover{
       background-color: rgb(216, 214, 214);
    }
}
@media screen and (max-width: 756px) {
    header .container nav ul {
        gap: 0%;
        width: 100%;
    }
    header .container nav ul li {
        width: 100%;
    }
    header .container nav ul li a {
        font-size: 2.5vw;
        color: #cdcbcb;
    }
    header .container .branding {
        max-width: 30%;
    }
    header .container .material-symbols-outlined{
        font-size: 4vw;
        margin-right: 4%;
    }
    header .container nav ul .material-symbols-outlined:hover{
       background-color: rgb(216, 214, 214);
    }
}
@media screen and (max-width: 500px) {
    header .container nav ul {
        gap: 0%;
        width: 100%;
    }
    header .container nav ul li {
        width: 100%;
    }
    header .container nav ul li a {
        font-size: 3.7vw;
        color: #cdcbcb;
    }
    header .container .branding {
        max-width: 30%;
    }
    header .container .material-symbols-outlined{
        font-size: 6vw;
        margin-right: 4%;
    }
    header .container nav ul .material-symbols-outlined:hover{
       background-color: rgb(216, 214, 214);
    }
}
@media screen and (max-width: 350px) {
    header  .sub_menu .sub_menu_container ul li a {
        font-size: 3vw;
    }
}