@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    width: 100%;
    height: 100%;
    background: rgb(235, 233, 233);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1vw;
    color: black;
}

header {
    width: 100%;
    max-width: 100%;
    height: 12vh;
}

header .container {
    max-width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background: rgb(253, 253, 253);
}

header .container .branding {
    max-width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

header .container .branding img {
    max-width: 100%;
    height: auto;
}

header .container nav {
    max-width: 85%;
    width: 85%;
    height: 100%;
    display: flex;
    align-items: center;
}

header .container nav ul,
.sub_menu .sub_menu_container ul {
    max-width: 100%;
    width: 100%;
    height: 100%;
    gap: 0.5%;
    display: flex;
    align-items: center;
    margin: 0px;
}
header .container .material-symbols-outlined{
    display: none;
}

header .container nav ul li,
.sub_menu .sub_menu_container ul li {
    max-width: 100%;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    list-style: none;
    transition: .3s linear;
}
header .container nav ul li:hover,
.sub_menu .sub_menu_container ul li:hover {
   background-color: rgb(237, 235, 235);
}

header .container nav ul li a,
.sub_menu .sub_menu_container ul li a {
    text-decoration: none;
    color: #000000;
    font-size: 1vw;
    padding: 10px;
}
/* sub menu */
header .sub_menu{
    width: 100%;
    height: 40%;
    background: linear-gradient(90deg, #051360, #394f81, #051360);
}
header .sub_menu .sub_menu_container{
    width: 100%;
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 0;
    margin-bottom: 0;
}
/* ::-webkit-scrollbar{
    display: none;
    scrollbar-width: none;
} */
header  .sub_menu .sub_menu_container ul li a {
    color: #e6e6e6;
    padding: 0px 8px 0px 8px;
    font-size: 13px;
    font-weight: 400;
}
header .sub_menu .sub_menu_container ul li:hover {
   background-color: #5f6899;
}
.active{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1c02e5 !important;
}
header .sub_menu .sub_menu_container ul {
    gap: 0%;
    height: 100%;
    overflow: auto;
}
header .sub_menu .sub_menu_container ul::-webkit-scrollbar {
    display: none;
    scrollbar-width: none;
}
/* content area */
.conten_container{
    width: 100%;
    margin: auto;
    top: 16px;
    position: relative;
    height: 100%;
    display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
    background-color: #ffffff;
}
.conten_container .inside-artical{
   width: 90%;
   height: 95%;
   position: relative;
   /* background-color: rgb(237, 21, 21); */
   margin: auto;
}
.conten_container .inside-artical .context{
    width: 90%;
    height: auto;
    display: flex;
    margin: auto;
    flex-direction: row;
}
.conten_container .inside-artical .context .left_area,
.conten_container .inside-artical .context .mid_area,
.conten_container .inside-artical .context .right_area{
    width: 33.33%;
    height: auto;
}
.conten_container .inside-artical .context .left_area h3,
.conten_container .inside-artical .context .mid_area h3,
.conten_container .inside-artical .context .right_area h3{
   text-align: center;
}
/* media queries */
/* for ipad or tablets screen:768px - 480px */

@media screen and (max-device-width: 768px)  {
    header .container nav ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        left: 0;
        top: 12vh;
        overflow:auto;
        gap: 0%;
        width: 100%;
        height:0vh;
        padding: 0px;
        background-color: #282A35;
        align-items: center;
        justify-content: end;
    }
    header .container nav .menu{
        height: auto;
        overflow: auto;
    }
    header .container nav ul li {
        width: 100%;
    }
    header .container nav ul li a {
        font-size: 2vw;
        color: #cdcbcb;
    }
    header .container nav ul li:hover a {
        color: black;
    }
    header .container .branding {
        max-width: 25%;
    }
    header .container .material-symbols-outlined{
        display: block;
        position: absolute;
        font-size: 3.5vw;
        right: 0;
        cursor: pointer;
        padding: 10px;
        transition: .3s linear;
    }
    header .container nav ul .material-symbols-outlined:hover{
       background-color: rgb(216, 214, 214);
    }
    .conten_container .inside-artical .context{
        flex-direction: row;
    }
    .conten_container .inside-artical .context .left_area,
.conten_container .inside-artical .context .mid_area,
.conten_container .inside-artical .context .right_area{
    width: 100%;
    height: auto;
}
.conten_container .inside-artical .context .left_area h3,
.conten_container .inside-artical .context .mid_area h3,
.conten_container .inside-artical .context .right_area h3{
   font-size: 2.7vw;
}
.conten_container .inside-artical .context .left_area li,
.conten_container .inside-artical .context .mid_area li,
.conten_container .inside-artical .context .right_area li{
   line-height: 20px;
   
}
.conten_container .inside-artical .context .left_area li a,
.conten_container .inside-artical .context .mid_area li a,
.conten_container .inside-artical .context .right_area li a{
   font-size: 2vw;
   text-decoration: none;
}
}
/* for mobile devices screen:480px - 320px 
for portrait view*/
@media screen and (max-device-width: 480px) 
    and (orientation: portrait) {
    header .container nav ul {
        gap: 0%;
        width: 100%;
    }
    header .container nav ul li {
        width: 100%;
    }
    header .container nav ul li a {
        font-size: 3vw;
        color: #cdcbcb;
    }
    header .container .branding {
        max-width: 38%;
    }
    header .container .material-symbols-outlined{
        font-size: 6.5vw;
        margin-right: 4%;
    }
    header .container nav ul .material-symbols-outlined:hover{
       background-color: rgb(216, 214, 214);
    }
}
/* for mobile devices screen:480px - 320px 
for landscape view*/
@media screen and (max-device-width: 640px) 
    and (orientation: landscape)
 {
    header {
        height: 20vh;
    }
    header .container nav ul {
        gap: 0%;
        top: 20vh;
        width: 100%;
    }
    header .container nav ul li {
        width: 100%;
    }
    header .container nav ul li a {
        font-size: 1vw;
        color: #cdcbcb;
    }
    header .container .branding {
        max-width: 24%;
    }
    header .container .material-symbols-outlined{
        font-size: 4.5vw;
        margin-right: 4%;
    }
    header .container nav ul .material-symbols-outlined:hover{
       background-color: rgb(216, 214, 214);
    }
    header .container nav ul li a {
        font-size: 2.5vw;
        color: #cdcbcb;
    }
}
    /* For iPhone 4 Portrait or Landscape View */
@media screen and (max-width: 320px) {
    header  .sub_menu .sub_menu_container ul li a {
        font-size: 3vw;
    }
}