@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --var-background-color: #282A35;
    --var-nav-background: #242946;
    --var-hover-color: #e8e7ed;
    --var-active-color: #04AA6D;
    --var-subnav-hover-color: #000000;
    --var-content-background: rgb(255, 255, 255);
    --var-link-color: rgb(8, 130, 178);
    --var-link-hover-color: #000000;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1vw;
    background-color: rgb(240, 233, 233);
    color: black;
}

header {
    position: fixed;
    width: 100%;
    max-width: 100%;
    height: 12vh;
    z-index: 1;
}

header .container {
    max-width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background: rgb(253, 253, 253);
}

header .container .branding {
    max-width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

header .container .branding img {
    max-width: 100%;
    height: auto;
}

header .container nav {
    max-width: 85%;
    width: 85%;
    height: 100%;
    display: flex;
    align-items: center;
}

header .container nav ul,
.sub_menu .sub_menu_container ul {
    max-width: 100%;
    width: 100%;
    height: 100%;
    gap: 0.5%;
    display: flex;
    align-items: center;
    margin: 0px;
}
header .sub_menu .sub_menu_container ul .current {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--var-active-color);
}

header .container .material-symbols-outlined {
    display: none;
}

header .container nav ul li,
.sub_menu .sub_menu_container ul li {
    max-width: 100%;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    list-style: none;
    transition: .3s linear;
}

/* drop down content */
header .container nav ul li .dropdown-content {
    position: absolute;
    max-width: 10%;
    width: 10%;
    padding: 10px;
    display: none;
    top: 50%;
    flex-direction: column;
    text-align: center;
    z-index: 999;
    transition: .3s;
}

header .container nav ul li .dropdown-content a {
    text-decoration: none;
    padding: 10px;
    background: var(--var-nav-background);
    color: #ffffff;
}

header .container nav ul li .dropdown-content a:hover {
    background-color: #000000;
}

header .container nav ul li:hover .dropdown-content {
    display: flex;
}
header .container nav ul li:hover .dropdown-content {
    display: flex;
}
/* drop down content */

header .container nav ul li:hover,
.sub_menu .sub_menu_container ul li:hover {
    background-color: var(--var-hover-color);
}

header .container nav ul li a,
.sub_menu .sub_menu_container ul li a {
    text-decoration: none;
    color: #000000;
    font-size: 1vw;
    padding: 10px;
}

/* sub menu */
header .sub_menu {
    width: 100%;
    height: 40%;
    background: var(--var-background-color);
}

header .sub_menu .sub_menu_container {
    width: 100%;
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 0;
    margin-bottom: 0;
}

/* ::-webkit-scrollbar{
    display: none;
    scrollbar-width: none;
} */
header .sub_menu .sub_menu_container ul li a {
    color: #e6e6e6;
    padding: 0px 8px 0px 8px;
    font-size: 13px;
    font-weight: 400;
}

header .sub_menu .sub_menu_container ul li:hover {
    background-color: var(--var-subnav-hover-color);
}

.active {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--var-active-color);
}

header .sub_menu .sub_menu_container ul {
    gap: 0%;
    height: 100%;
    overflow: auto;
}

header .sub_menu .sub_menu_container ul::-webkit-scrollbar {
    display: none;
    scrollbar-width: none;
}

/* content area */
main {
    width: 100%;
    height: 100%;
    display: inline-block;
}

main article {
    /* max-width: 98%; */
    width: 100%;
    height: 98%;
    margin: 0px auto;
    padding: 0;
}

main article .inside-artical {
    width: 100%;
    height: 90%;
    margin: auto;
    padding-top: 2%;
    padding-bottom: 2%;
}

main article .inside-artical .entry-content {
    width: 98%;
    height: 90%;
    margin: auto;
    background-color: var(--var-content-background);
}

main article .inside-artical .entry-content .front-page-top {
    width: 90%;
    height: 20%;
    margin: auto;
    text-align: center;
    font-size: 1.1vw;
    padding: 30px 10px;
}

main article .inside-artical .entry-content .front-page {
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    padding: 30px 0px;
}

main article .inside-artical .entry-content .front-page .first-column,
.second-column,
.third-column {
    width: 100%;
    height: 100%;
    padding: 20px 0px;
    margin: 0;
}

main article .inside-artical .entry-content .front-page .first-column ul li,
.second-column ul li,
.third-column ul li {
    line-height: 25px;
}

main article .inside-artical .entry-content .front-page .first-column ul li a,
.second-column ul li a,
.third-column ul li a {
    text-decoration: none;
    word-spacing: 2px;
    letter-spacing: .5px;
    color: var(--var-link-color);
    transition: .3s linear;
}

main article .inside-artical .entry-content .front-page .first-column ul li a:hover,
.second-column ul li a:hover,
.third-column ul li a:hover {
    color: var(--var-link-hover-color);
}

.site-footer {
    width: 100%;
    max-width: 100%;
    height: 30vh;
    background-color: #000000;
    /* background: rgb(240, 233, 233); */
}

.site-footer .footer-widgets {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.site-footer .footer-widgets .footer-widgets-container {
    width: 90%;
    height: 80%;
}

.site-footer .footer-widgets .footer-widgets-container aside {
    width: 100%;
    height: 40%;
}

.site-footer .footer-widgets .footer-widgets-container aside .text-widget {
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}

.site-footer .footer-widgets .footer-widgets-container aside .text-widget li {
    list-style: none;
    margin: 10px;
}

.site-footer .footer-widgets .footer-widgets-container aside .text-widget li a {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}

.site-footer .footer-widgets .footer-widgets-container aside .social-widgets {
    width: au;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #04050e;
}

.site-footer .footer-widgets .footer-widgets-container aside .social-widgets li {
    width: 3%;
    height: 80%;
    margin: 10px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    cursor: pointer;
}

.site-footer .footer-widgets .footer-widgets-container aside .social-widgets li:hover {
    background-color: rgb(196, 184, 184);
}

.site-footer .footer-widgets .footer-widgets-container aside .social-widgets li a {
    text-decoration: none;
    color: #000000;
    font-size: 1.3vw;
}

.site-footer .site-info {
    width: 100%;
    height: 10%;
}

.site-footer .site-info p {
    color: #ffffff;
    text-align: center;
}
/* banner aear */
.main{
    width: 100%;
    height: 30vw;
    margin: auto;
    display: flex;
    justify-content: center;
}
.main .inside-main{
    width: 98%;
    height: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fefefe;
}
.main .inside-main .first-column-banner{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
}
.main .inside-main .second-column-banner{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 255, 42);
}
.main .inside-main .first-column-banner img,
.second-column-banner img{
    width: 100%;
    height: 100%;
}
.gototop{
    position: fixed;
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    display: flex;
    bottom: -10%;
    right: 2%;
    cursor: pointer;
    z-index: 1;
    opacity: 0;
    align-items: center;
    justify-content: center;
    transition: 1s;
    background-color: rgb(25, 0, 255);
}
.gototop:hover{
    background-color: rgb(21, 7, 151);
}
.anime{
       bottom: 5%;
       opacity: 1;}
.gototop .top{
font-size: 1.7vw;
font-weight: bold;
color: #fff;
}
/* banner aear */
/* media queries */
/* for ipad or tablets screen:768px - 480px */
@media screen and (max-device-width: 768px) {
    header .container nav ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        left: 0;
        top: 12vh;
        overflow: auto;
        gap: 0%;
        width: 100%;
        height: 0vh;
        padding: 0px;
        background-color: var(--var-nav-background);
        align-items: center;
        justify-content: end;
        z-index: 9999999;
    }

    header .container nav .menu {
        height: auto;
        overflow: auto;
    }

    header .container nav ul li {
        width: 100%;
        display: block;
        text-align: center;
        padding: 10px 0px 10px 0px;
    }

    header .container nav ul li a {
        font-size: 2vw;
        color: #cdcbcb;
    }

    header .container nav ul li .dropdown-content {
        position: relative;
        max-width: 100%;
        width: 100%;
        padding: 0px;
    }

    header .container nav ul li .dropdown-content a {
        background: none;
    }

    header .container nav ul li .dropdown-content a:hover {
        background-color: #dcd7d7;
    }

    header .container nav ul li:hover .dropdown-content {
        display: flex;
    }
    header .container nav ul .dropdown-toggle:hover .dropdown-content {
        display: none;
    }

    header .container nav ul li:hover a {
        color: black;
    }

    header .container .branding {
        max-width: 25%;
    }

    header .container .material-symbols-outlined {
        display: block;
        position: absolute;
        font-size: 3.5vw;
        right: 0;
        cursor: pointer;
        padding: 10px;
        transition: .3s linear;
    }

    header .container nav ul .material-symbols-outlined:hover {
        background-color: rgb(216, 214, 214);
    }

    main article .inside-artical .entry-content .front-page-top {
        font-size: 2.4vw;
        padding: 20px 0px 0px 0px;
    }

    main article .inside-artical .entry-content .front-page {
        width: 100%;
        height: 100%;
        flex-direction: column;
    }

    main article .inside-artical .entry-content .front-page .first-column ul li a,
    .second-column ul li a,
    .third-column ul li a {
        font-size: 2vw;
    }

    main article .inside-artical .entry-content .front-page .first-column h3,
    .second-column h3,
    .third-column h3 {
        font-size: 2.7vw;
    }

    .site-footer .footer-widgets {
        width: 100%;
        height: auto;
    }

    .site-footer .footer-widgets .footer-widgets-container {
        width: 100%;
        height: auto;

    }

    .site-footer .footer-widgets .footer-widgets-container aside {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;

    }

    .site-footer .footer-widgets .footer-widgets-container aside .text-widget {
        width: 80%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
    }

    .site-footer .footer-widgets .footer-widgets-container aside .text-widget li a {
        font-size: 2.3vw;
    }

    .site-footer .footer-widgets .footer-widgets-container aside .social-widgets {
        width: au;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .site-footer .footer-widgets .footer-widgets-container aside .social-widgets li {
        width: 6vw;
        height: 6vw;
    }

    .site-footer .footer-widgets .footer-widgets-container aside .social-widgets li a {
        font-size: 2vw;
    }

    .site-footer .site-info {
        width: 100%;
        height: 10%;
    }

    .site-footer .site-info p {
        font-size: 2.3vw;

    }
    .main{
        width: 100%;
        height: 50vw;
        background-color: red;
    }
    .main .inside-main{
        width: 100%;
        height: 90%;
        flex-direction: column;
        background-color: #e10c0c;
    }
    .main .inside-main .first-column-banner{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: red;
    }
    .main .inside-main .second-column-banner{
        width: 50%;
        height: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(0, 255, 42);
    }
    .main .inside-main .first-column-banner img,
    .second-column-banner img{
        width: 100%;
        height: 100%;
    }
    .gototop{
        width: 5vw;
        height: 5vw;
        right: 3%;
    }
    .anime{
           bottom: 8%;
           opacity: 1;}
    .gototop .top{
    font-size: 2vw;
    }
    
}

/* for mobile devices screen:480px - 320px 
for portrait view*/
@media screen and (max-device-width: 480px) and (orientation: portrait) {
    header .container nav ul {
        gap: 0%;
        width: 100%;
    }

    header .container nav ul li {
        width: 100%;
    }

    header .container nav ul li a {
        font-size: 3vw;
        color: #cdcbcb;
    }

    header .container .branding {
        max-width: 38%;
    }

    header .container .material-symbols-outlined {
        font-size: 6.5vw;
        margin-right: 4%;
    }

    header .container nav ul .material-symbols-outlined:hover {
        background-color: rgb(216, 214, 214);
    }

    main article .inside-artical .entry-content .front-page-top {
        font-size: 3vw;
        padding: 20px 0px 0px 0px;
    }

    main article .inside-artical .entry-content .front-page .first-column ul li a,
    .second-column ul li a,
    .third-column ul li a {
        font-size: 3.4vw;
    }

    main article .inside-artical .entry-content .front-page .first-column h3,
    .second-column h3,
    .third-column h3 {
        font-size: 3.6vw;
    }

    .site-footer .footer-widgets .footer-widgets-container aside .text-widget {
        width: 98%;
    }

    .site-footer .footer-widgets .footer-widgets-container aside .text-widget li a {
        font-size: 3.2vw;
    }

    .site-footer .footer-widgets .footer-widgets-container aside .social-widgets li {
        width: 8vw;
        height: 8vw;
    }

    .site-footer .footer-widgets .footer-widgets-container aside .social-widgets li a {
        font-size: 3.2vw;
    }

    .site-footer .site-info {
        width: 100%;
        height: 10%;
    }

    .site-footer .site-info p {
        font-size: 3.2vw;

    }
    .gototop{
        width: 8vw;
        height: 8vw;
        right: 8%;
    }
    .gototop .top{
    font-size: 4vw;
    }

}

/* for mobile devices screen:480px - 320px 
for landscape view*/
@media screen and (max-device-width: 640px) and (orientation: landscape) {
    header {
        height: 20vh;
    }

    header .container nav ul {
        gap: 0%;
        top: 20vh;
        width: 100%;
    }

    header .container nav ul li {
        width: 100%;
    }

    header .container nav ul li a {
        font-size: 1vw;
        color: #cdcbcb;
    }

    header .container .branding {
        max-width: 24%;
    }

    header .container .material-symbols-outlined {
        font-size: 4.5vw;
        margin-right: 4%;
    }

    header .container nav ul .material-symbols-outlined:hover {
        background-color: rgb(216, 214, 214);
    }

    header .container nav ul li a {
        font-size: 2.5vw;
        color: #cdcbcb;
    }

    main article .inside-artical .entry-content .front-page-top {
        font-size: 2.5Fvw;
        padding: 20px 0px 0px 0px;
    }

    main article .inside-artical .entry-content .front-page .first-column ul li a,
    .second-column ul li a,
    .third-column ul li a {
        font-size: 2.5vw;
    }

    main article .inside-artical .entry-content .front-page .first-column h3,
    .second-column h3,
    .third-column h3 {
        font-size: 3vw;
    }

    .site-footer .footer-widgets .footer-widgets-container aside .text-widget {
        width: 98%;
    }

    .site-footer .footer-widgets .footer-widgets-container aside .text-widget li a {
        font-size: 2vw;
    }

    .site-footer .footer-widgets .footer-widgets-container aside .social-widgets li {
        width: 5vw;
        height: 5vw;
    }

    .site-footer .footer-widgets .footer-widgets-container aside .social-widgets li a {
        font-size: 2vw;
    }

    .site-footer .site-info {
        width: 100%;
        height: 10%;
    }

    .site-footer .site-info p {
        font-size: 2vw;

    }
}

/* For iPhone 4 Portrait or Landscape View */
@media screen and (max-width: 320px) {
    header .sub_menu .sub_menu_container ul li a {
        font-size: 3vw;
    }
}