@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    font-family: 'Roboto';
}
 .header{
    position: relative;
    width: 100%;
    height: 10vh;
    background: white;
    transition: .5s linear;
    box-shadow: 0px 0px 10px 0.5px rgba(58, 58, 58, 0.44);
}
 .sticky_header{
    position: fixed;
    inset: 0;
    width: 100%;
    height: 10vh;
    background: rgb(30, 30, 30);
    color: #fff;
    }
 .header nav{
    width: 75%;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
}
 .header nav .icons{
    width: 8%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;

}
 .header nav .icons:hover{
    background: rgb(234, 232, 232);
    cursor: pointer;
}
 .header nav .group_icon{
    width: 8%;
 
 }
 .header nav .icons .option_Name{
    font-size: 100%;
    padding: 2px;
}
 .header .icons .material-symbols-outlined{
    font-size: 2em;
}
 .header .icons .option_icon{
    font-size: 120%;
    padding: 2px;
}
 .header nav .logo_img{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
 .header nav .icon_search{
    display: none;
}
 .header nav .search_Bar{
    width: 45%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
 .header nav .search_Bar .search{
    width: 80%;
    height: 60%;
    background: rgba(253, 252, 252, 0.885);
    padding: 10px 20px 10px 20px ;
    border-radius: 10px 0px 0px 10px;
    border: 1px solid gray;
    font-size: 16px;
    border-right: none;
}
 .header nav .search_Bar .search:focus{
    outline: none;
    border: 1px solid rgb(5, 228, 79);
}
 .header nav .search_Bar .search_icon{
    background: linear-gradient(90deg, rgb(0, 208, 255), rgb(6, 224, 6));
    width: 8%;
    height: 60.55%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px 10px 10px 0px;
}
/* sidebar */
.SideBar{
    position: fixed;
    width:100%;
    height: 100vh;
    background: rgba(3, 3, 3, 0.693);
    transition: .2s linear;
    z-index: 999;
    display: none;
    transition: .5s linear;
}
.SideBar .menu_content{
    width: 30%;
    height: 100%;
    background: red;
}
.banner{
    position: relative;
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url(img/bg.jpg);
}
.banner .banner_content{
    position: relative;
    width: 100%;
}
.banner .banner_content h1{
    color: #fff;
    text-transform: capitalize;
    font-size: 400%;
}
@media (max-width:1100px) {
    .header nav{
        width: 90%;
    }
    .header .group_icon{
        width: auto;
        padding: 10px;
    }
    .Menu_list{
        width:25%;
        left: -26%;
    }
    .Menu_list_toggle{
        left: 0%;
    }
    .banner .banner_content h1{
        font-size: 300%;
    }
}
@media (max-width:1068px) {
    .header nav{
        width: 100%;
    }
    .header nav .group_icon{
       display: none;
     }
     .header nav .search_Bar{
        width: 70%;
    }
    .header nav .logo_img{
        width: 25%;
    }
    .header nav .icons:hover{
       background: none;
    }
    .header nav .icons:hover{
        padding: 5px;
     }
     .Menu_list{
        width:30%;
        left: -32%;
    }
    .Menu_list_toggle{
        left: 0%;
    }
    .banner .banner_content h1{
        font-size: 250%;
    }
}
@media (max-width:768px) {
    .header nav{
        width: 100%;
    }
    .header nav .group_icon{
       display: none;
     }
     .header nav .search_Bar{
        display: none;
    }
    .header nav .logo_img{
        width: 40%;
        margin: auto;
    }
    .header nav .icon_search{
        position: relative;
        display: block;
        inset: 0;
        padding: 10px;
    }
    .header nav .icons:hover{
       margin-left: 5%;
     }
     .Menu_list{
        width:100%;
        left: 0%;
        top: -102%;
        z-index: -1;
        border: none;
    }
    .Menu_list_toggle{
        top: 10%;
        overflow: auto;
        border: none;
    }
    .banner .banner_content h1{
        font-size: 200%;
    }
    .banner{
        width: 100%;
        height: 30vh;
    }
}
