@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    font-family: 'Roboto';
}
.subHeader{
    width: 100%;
    height: 16vh;
    background: rgb(233, 233, 233);
}
.subHeader .header{
    position: relative;
    width: 100%;
    height: 60%;
    top: 40%;
    background: white;
    box-shadow: 0px 0px 10px 0.5px rgba(58, 58, 58, 0.44);
}
.subHeader .header nav{
    width: 75%;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
}
.subHeader .header nav .icons{
    width: 6.5%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    transition: .5s;

}
.subHeader .header nav .icons .option_Name{
   padding: 3px;
}
.subHeader .header nav .icons:hover{
    background: rgb(234, 232, 232);
    cursor: pointer;
}
.subHeader .header nav .group_icon{
    width: 8%;
 
 }
.subHeader .header nav .icons .option_Name{
    font-size: 19px;
}
.subHeader .header .icons .material-symbols-outlined{
    font-size: 2em;
}
.subHeader .header .icons .option_icon{
    font-size: 1.3em;
    padding: 2px;
}
.subHeader .header nav .logo_img{
    width: 20%;
    height: 100%;
}
.subHeader .header nav .icon_search{
    display: none;
}
.subHeader .header nav .search_Bar{
    width: 45%;
    height: 100%;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.subHeader .header nav .search_Bar .search{
    width: 80%;
    height: 60%;
    padding: 10px 20px 10px 20px ;
    border-radius: 10px 0px 0px 10px;
    border: 1px solid gray;
    font-size: 16px;
    border-right: none;
}
.subHeader .header nav .search_Bar .search:focus{
    outline: none;
    border: 1px solid rgb(5, 228, 79);
}
.subHeader .header nav .search_Bar .search_icon{
    background: linear-gradient(90deg, rgb(0, 208, 255), rgb(6, 224, 6));
    width: 8%;
    height: 60.55%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px 10px 10px 0px;
}
@media (max-width:1100px){
    .subHeader .header nav .group_icon{
        width: 10%;
        padding: 10px;
     
     }
}
@media (max-width:1024px){
    .subHeader .header nav .group_icon{
       display: none;
    
    }
    .subHeader .header nav .search_Bar{
        position: absolute;
        width: 60%;
        right: 0;
    }
    .subHeader .header nav .icons{
       position: absolute;
       left: 0;
    
    }
    .subHeader{
        height: 8vh;
    }
    .subHeader .header{
        height: 100%;
        top: 0%;
    }
    .subHeader .header nav .logo_img{
        width: 40%;
    }
    .subHeader .header .icons .material-symbols-outlined{
        font-size: 150%;
    }
}
@media (max-width:768px){
    .subHeader .header nav .search_Bar{
       display: none;
    }
    .subHeader .header nav .logo_img{
        width: 50%;
        margin: auto;
    }
    .subHeader .header nav .icon_search{
        position: absolute;
        display: block;
        right: 3%;
    }
    .subHeader .header nav .icons{
        width: 10%;
        height: 100%;
    
    }
    .subHeader .header .icons .material-symbols-outlined{
        font-size: 150%;
    }
}